-# = form_for [@group,@message] do |f|
-#   - if @message.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
-#       %ul
-#         - @message.errors.full_messages.each do |message|
-#           %li= message
-#
-#   .field
-#     = f.label :body
-#     = f.text_area :body
-#   .field
-#     = f.label :image
-#     = f.text_field :image
-#   .field
-#     = f.label :group_id
-#     = f.number_field :group_id
-#   .field
-#     = f.label :user_id
-#     = f.number_field :user_id
-#   .actions
-#     = f.submit 'Save'
-#
-# %br

= form_for [@group,@message], remote: true do |f|
  -# - if @message.errors.any?
  -#   #error_explanation
  -#     %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
  -#     %ul
  -#       - @message.errors.full_messages.each do |message|
  -#         %li= message

  .message-field
    = f.text_field :body, class:"form-controll", id:"text-form", placeholder:"Type a Message"
    %i.fa.fa-picture-o
    = f.file_field :image, style:"display:none;", id:"file"
    .btm-area
      = f.submit 'Save',class:"square_btn",id:"btn"
