%p#notice= notice

%p
  %b Body:
  = @message.body
%p
  %b Image:
  = @message.image
%p
  %b Group:
  = @message.group_id
%p
  %b User:
  = @message.user_id

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', root_path
