<!DOCTYPE html>
<html>
  <head>
    <title>Tyuukan2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="both">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% elsif alert %>
        <p class="alert alert-dismissible alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
